@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100&display=swap');

*{
    padding: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    margin-top: 60px;
    padding: 2.5rem;
    font-weight: bold;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
    margin-top: -110px;
    line-height: 1;
}
h3 {
    font-family: 'Roboto', sans-serif;
}